<%= form_for(@faq) do |f| %>
  <% if @faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

      <ul>
      <% @faq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= collection_select(:faq, :faq_type_id , FaqType.all, :id, :name, prompt: "First, please choose the type of FAQ this is") %>
  </div>
  <div class="field">
    <%= f.text_field :title_en, placeholder: "Title in English" %>
  </div>
  <div class="field">
    <%= f.text_field :title_fr, placeholder: "Title in French" %>
  </div>
  <div class="field">
    <%= f.text_area :content_en, placeholder: "Content in English (you can use some very basic html here, e.g. for paragraphs)", :rows => "5" %>
  </div>
  <div class="field">
    <%= f.text_area :content_fr, placeholder: "Content in French (you can use some very basic html here, e.g. for paragraphs)", :rows => "5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
