<h1>Listing faqs</h1>

<table>
  <thead>
    <tr>
      <th>Title en</th>
      <th>Title fr</th>
      <th>Content en</th>
      <th>Content fr</th>
      <th>Faq type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faqs.each do |faq| %>
      <tr>
        <td><%= faq.title_en %></td>
        <td><%= faq.title_fr %></td>
        <td><%= faq.content_en %></td>
        <td><%= faq.content_fr %></td>
        <td><%= faq.faq_type %></td>
        <td><%= link_to 'Show', faq %></td>
        <td><%= link_to 'Edit', edit_faq_path(faq) %></td>
        <td><%= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faq', new_faq_path %>
