<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <%= link_to root_path, class: "mobile-logo" do %>
      <%= image_tag "coderdojo_logo.svg" %>
    <% end %>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><%= link_to t('events-link'), events_path %></li>
      <li class="nav-link"><%= link_to t('participants-link'), participants_path %></li>
      <li class="nav-link"><%= link_to t('mentors-link'), mentors_path %></li>
      <li class="nav-link logo">
        <%= link_to root_path, class: "logo" do %>
          <%= image_tag "coderdojo_logo.svg" %>
        <% end %>
      </li>
      <li class="nav-link more"><%= link_to t('resources-link'), resources_path %>
        <ul class="submenu">
          <li><%= link_to t('web-development'), web_development_resources_path %></li>
          <li><%= link_to t('scratch'), scratch_resources_path %></li>
        </ul>
      </li>
      <li class="nav-link"><%= link_to t('contact-link'), contact_path %></li>
      <li class="nav-link">
        <% if I18n.locale == :fr then %>
          <%= link_to 'EN', set_language_english_path %><span class="active"> / FR</span>
        <% else %>
          <span class="active">EN / </span><%= link_to 'FR', set_language_french_path %>
        <% end %>
      </li>
    </ul>
  </div>
</header>