<div class="intro-wrapper">
  <section class="intro">
    <div class="main-logo">
      <%= image_tag "coderdojo_logo.svg", class: "main-logo" %>
    </div>
    <div class="strapline">
      <h1><%= t('.strapline') %></h1>
    </div>
  </section>
</div>

<section class="mentor-signup">
  <p><%= t '.mentor-signup-message' %><%= link_to t('.mentor-signup-link'), mentors_path %></p>
</section>

<%= render partial: 'shared/today_event', object: @today_event if @today_event%>

<% unless @next_events.nil? %>
  <section class="next-event">
    <h1><%= t '.next-events' %></h1>
    <ul class="next-events-list">
      <%= render partial: 'shared/next_event', collection: @next_events %>
    </ul>
  </section>
<% end %>