<div class="intro-wrapper">
  <section class="intro">
    <div class="main-logo">
      <%= image_tag "coderdojo_logo.svg", class: "main-logo" %>
    </div>
    <div class="strapline">
      <h1><%= t('.strapline') %></h1>
    </div>
  </section>
</div>

<section class="mentor-signup">
  <p><%= t '.mentor-signup-message' %><%= link_to t('.mentor-signup-link'), mentors_path %></p>
</section>

<%= render partial: 'shared/next_event', object: @next_event %>
