<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :start %>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %>
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.text_field :signup_link, placeholder: "Link to the Eventbrite or other signup service." %>
  </div>
  <div class="field">
    <%= f.label :venue_id %>
    <%= collection_select(:event, :venue_id, Venue.all, :id, :name, prompt: true) %>
  </div>
  <p>If the venue doesn't already exist you have to create one first so <%= link_to "create one", new_venue_path %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
