<% unless current_user.nil?  %>
<section class="create-event">
  <%= link_to "Create a new event", new_event_path, class: "create-action-button" %>
</section>
<% end %>

<%= render partial: 'shared/next_event', object: @next_event if @next_event %>
<%= render partial: 'shared/today_event', object: @today_event if @today_event%>

<section class="previous-events">
  <h1><%= t '.previous-events-title' %></h1>
  <ul class="previous-events-list">
    <%= render partial: 'shared/previous_events', collection: @previous_events %>
  </ul>
</section>