<% unless current_user.nil?  %>
<section class="create-event">
  <%= link_to "Create a new event", new_event_path, class: "create-action-button" %>
</section>
<% end %>

<%= render partial: 'shared/today_event', object: @today_event if @today_event%>

<% unless @next_events.nil? %>
  <section class="next-event">
    <h1><%= t '.next-events' %></h1>
    <ul class="next-events-list">
      <%= render partial: 'shared/next_event', collection: @next_events %>
    </ul>
  </section>
<% end %>

<section class="previous-events">
  <h1><%= t '.previous-events-title' %></h1>
  <ul class="previous-events-list">
    <%= render partial: 'shared/previous_events', collection: @previous_events %>
  </ul>
</section>