<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= collection_select(:resource, :resource_type_id , ResourceType.all, :id, :name, prompt: "First, please choose the type of Resource this is") %>
  </div>

  <div class="field">
    <%= f.text_field :title_en, placeholder: "Title in English" %><br>
  </div>
  <div class="field">
    <%= f.text_field :title_fr, placeholder: "Title in French" %><br>
  </div>
  <div class="field">
    <%= f.text_area :description_en, placeholder: "Description in English (you can use some very basic html here, e.g. for paragraphs)", :rows => "5" %>
  </div>
  <div class="field">
    <%= f.text_area :description_fr, placeholder: "Description in French (you can use some very basic html here, e.g. for paragraphs)", :rows => "5" %>
  </div>
  <div class="field">
    <%= f.text_field :button_en, placeholder: "Text for Link In English" %><br>
  </div>
  <div class="field">
    <%= f.text_field :button_fr, placeholder: "Text for Link In English" %><br>
  </div>
  <div class="field">
    <%= f.text_field :resource_url, placeholder: "URL to resource" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
