<p id="notice"><%= notice %></p>

<p>
  <strong>Resource type:</strong>
  <%= @resource.resource_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Resource url:</strong>
  <%= @resource.resource_url %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
