<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Coderdojo</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>

<div id="modal-window">
  <p>Something here</p>
</div>
<div id="modal-window-bg"></div>

<div class="main-content">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash" %>
  <% end %>
  <%= yield %>
</div>

<footer class="site-footer">
  <div class="content">
    <p class="authentication-link">
      <% if signed_in? %>
        <%= link_to t('sign-out-link'), sign_out_path %>
      <% else %>
        <%= link_to t('sign-in-link'), sign_in_path, class: "sign-in-link", remote: true %>
      <% end %>
    </p>
    <p>© copyright 2014</p>
  </div>

</footer>


</body>
</html>
