<!DOCTYPE html>
<html>
<head>
  <title>Coderdojo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if I18n.locale == :fr then %>
  <%= link_to 'EN', set_language_english_path %> / <span class="active">FR</span>
<% else %>
  <span class="active">EN</span> / <%= link_to 'FR', set_language_french_path %>
<% end %>
        
</body>
</html>
